{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg">
  <div class=" container-fluid ">
    <a class="navbar-brand " id="navbrand " href="{% url 'home' %} "></a>
    <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item ">
          <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search' %}">
            <input  name="search_user" autocomplete="off" id="searching" class="form-control d-md-block" placeholder="Search Username">
          
          </form>
        </li>
      </ul>
      <div class="nav-item dropdown">
        <a href="{% url 'profile' user.username %}"> {{user.profile_photo.url}}</a>
        <a class="nav-link dropdown-toggle" href="{% url 'profile' user.username %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{image.user.profile_photo.url}}" class="rounded-circle border m-3" alt="{{image.user.user.username}}">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" id="navitems" href="#">Edit Profile</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" id="navitems" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>






