<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse bg-#B2DFFC">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Instagram</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'admin:index'%}">Admin</a>
    </div>
    <!-- Adding search form -->
    <div class="col-sm-4 col-md-4 navbar-right">
      <form action="{% url 'search' %}" class="navbar-form" role="search">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Username" name="search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <!-- search form end -->

    <div class="col-sm-6 col-md-6">
      {% if user.is_authenticated %}
      <ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                    <span class="caret"></span>
                </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/profile/{{user.username}}">Profile</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      {% else %}
      <ul class="list-inline" style="float: right;" >
      <li class="list-inline-item">
       <a style="font-weight: 900; color:#079EF9; font-size:25px" class='btn btn-default' href="/accounts/login">Login</a> 
      </li>
      <li class="list-inline-item">
     <a style="font-weight: 900; color:#079EF9; font-size:25px" class='btn btn-outline' href="/accounts/register">Register</a>
      </li>
      </ul>

      {% endif %}
    </div>

  </div>
</nav>
</body>
</html>